body {
  font-family: 'Cutive Mono';
  font-size: 15px;
  color:Black;
}

h1 {
  font-family: 'Fredoka One';
  font-size: 19px;
}

footer {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  color:black;
  background: #FFF;
  opacity: 0.8;
  padding: 10px;
}


#my-map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#container {
  position: absolute;
  z-index: 1000;
  top: 11px;
  left: 56px;
  background: #FFF;
  opacity: 0.8;
  padding: 10px;
  border-radius: 10px 10px 50px 10px;
  border: 2px solid ;
  border-color: #FF00A2;
  width: 250px;
}

#legend {
  text-align: left;
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: 300px;
  background: #FFF;
  opacity: 0.8;
  padding: 10px;
  border-radius: 10px 10px 10px 50px;
  border: 2px solid ;
  border-color: #FF00A2;
  width: 250px;
}


.legendItem {
}

.legendItem::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: relative;
  background-color: #FF00A2;
  /* width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px; */
  Opacity: 0.
}

.A::before {
  width: 5px;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.B::before {
  width: 5px;
  height: 5px;
  margin-right: 7px;
  margin-left: 7px;
}

.C::before {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.D::before {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  margin-left: 2px;
}

.E::before {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-left: 2px;
}
