body {
  font-family: 'Courier New';
  font-size: 15px;
  color:Black;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  text-shadow:  1px 1px #2da0e2,
                2px 2px #2da0e2,
                3px 3px #2da0e2,
                4px 4px #2da0e2;
}

#my-map {
  /* transform:rotate(25deg); */
  position: absolute;
  margin-top: 210px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#container {
    height:100px;
    width: 100%;
  }

#legend {
  text-align: left;
  /* position: absolute;
  z-index: 1000;
  bottom:  0px;
  left: : 0px; */
  background: #FFF;
  width: 100%;
}

/***********************/
/* LAYER control STYLE */
/***********************/

.leaflet-control-layers-toggle {
  background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
	background-color: #2da0e2;
  background-size: 20px 20px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
  background-color: #2da0e2;
}

.leaflet-control-layers-expanded {
  color: white;
	background-color: #2da0e2;
  font-family: 'Courier New';
  font-size: 15px;
}

/*****************/
/* LEGEND STYLES */
/*****************/

.legendItem {
  display: inline-block;
}

.legendItem::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  background-color: white;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #C0C0C0;
  Opacity: 0.
}

.A::before {
  width: 3px;
  height: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.B::before {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.C::before {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.D::before {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.E::before {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.F::before {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
